:root {
    --nav-header-height: 60px;
    --nav-footer-height: 120px;
    --siderbar-width: 240px;
    --r-card-height: 280px;
    --view-bg: #f8f9fa;
    --brand-gradient: linear-gradient(to right, #a3e635, #34d399, #14b8a6);
}
